$primary-color: #A65CF0;
$primary-light-color: #C998FB;
$primary-shade-color: #7033AC;
$pink-light-color:  #F8EFFF;
$pink-violet-color: #EBD1FF;
$secondary-color: #FF862F;
$secondary-light-color: #FFBD59;
$secondary-shade-color: #BB370E;
$red-input-color: #FF6972;
$green-input-color: #B8EC64;
$gold-color: #D5B986;
$white-color: #fff;
$grey-color: #999;
$grey-light-color: #F6F6F6;
$grey-md-color: #EAEAEA;
$grey-shade-color: #666666;
$lime-color: #DAFFD1;
$bone-color: #FFF5D1;
$black-color: #333333;
$trans-bg-color: rgba(0, 0, 0, .2);

$ffp: 'playfair_displayblack';
$ffo: OpenSans;
