@font-face {
	font-family: 'Normalidad Text';
	src: local('Normalidad Text'),
		url('../fonts/NormalidadText-Light-Web.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Normalidad Text';
	src: local('Normalidad Text'),
		url('../fonts/NormalidadText-Medium-Web.woff2');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Normalidad Wide';
	src: local('Normalidad Wide'),
		url('../fonts/NormalidadWide-Regular-Web.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}
@font-face {
	font-family: 'Normalidad Wide';
	src: local('Normalidad Wide'),
		url('../fonts/NormalidadWide-Bold-Web.woff2');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}
